
@{
    ViewBag.Title = "Admin Announcements Page";
}
<br /><br /><br /><br />
<span>@Html.ActionLink("Members", "Index", "Admin")  |  @Html.ActionLink("Products", "Index", "AdminProducts")  |  @Html.ActionLink("Announcements", "Index", "AdminAnnouncements")</span>

<br /><br />
<h2>Announcements</h2><br />
@Html.ActionLink("Add New Announcement", "Index", "AddAnnouncememtFromAdmin")<br /><br />
<div class="announcements">
    <table class="adminTablePadding">
        <tr>
            <th>ID:</th>
            <th>Name:</th>
            <th>Desc:</th>
            <th>Expiration Date:</th>
            <th>Announce Date:</th>
            <th>Delete</th>
        </tr>
        @{
            foreach (var item in ViewBag.allAnn)
            {
                <tr>
                    <th>@item.AnnouncementID</th>
                    <th>@item.AnnouncementName</th>
                    <th>@item.AnnouncementDescription</th>
                    <th>@item.GetExpireDate</th>
                    <th>@item.GetAnnounceDate</th>
                    <th>@Html.ActionLink("Delete", "Index", "DeleteAnnouncement", new { annID = item.AnnouncementID }, null)</th>
                </tr>
            }

        }
    </table>
</div>