
@{
    ViewBag.Title = "Admin Products";
}

<br /><br /><br /><br />
<span>@Html.ActionLink("Members", "Index", "Admin")  |  @Html.ActionLink("Products", "Index", "AdminProducts")  |  @Html.ActionLink("Announcements", "Index", "AdminAnnouncements")</span>

<br /><br />
<h2>Products</h2><br />
@Html.ActionLink("Add New Product", "Index", "AddProductFromAdmin")<br /><br />

<div class="ProdTable">
    <table class="adminTablePadding">
        <tr>
            <th>ID:</th>
            <th>Name:</th>
            <th>Desc:</th>
            <th>Prod IMG:</th>
            <th>Prod ALT Text:</th>
            <th>Delete</th>
        </tr>
        @{
            foreach (var item in ViewBag.prods)
            {
                <tr>
                    <th>@item.ProductID</th>
                    <th>@item.ProductName</th>
                    <th>@item.ProductDescription</th>
                    <th><img class="productThumb" src="~/Images/@item.ProductImgPath" alt="@item.ProductAltText"/></th>
                    <th>@item.ProductAltText</th>
                    <th>@Html.ActionLink("Delete", "Index", "DeleteProduct", new { pdID = item.ProductID }, null)</th>
                </tr>
            }

        }
    </table>
</div>