
@model JustForYouPromotions.Models.RegisterViewModel
@{
    ViewBag.Title = "Update User";
}

<h2>After Updating please click submit to Re-Submit your data.</h2>

<div>
    @using (Html.BeginForm())
    {
        JustForYouPromotions.Models.SiteMember sm = JustForYouPromotions.Models.SessionHelper.GetMember();
        string userName = sm.UserAccessName;
        string firstName = sm.UserFName;
        string lastName = sm.UserLName;
        string email = sm.UserEmail;
        string password = sm.UserPassword;
        @Html.DisplayName("User Name:")<br />
        @Html.TextBoxFor(model => model.UserAccessName, new { placeholder = userName })
        <br /><br />
        @Html.DisplayName("First Name:")<br />
        @Html.TextBoxFor(model => model.UserFirstName, new { placeholder = firstName })
        <br /><br />
        @Html.DisplayName("Last Name:")<br />
        @Html.TextBoxFor(model => model.UserLastName, new { placeholder = lastName })
        <br /><br />
        @Html.DisplayName("Email:")<br />
        @Html.TextBoxFor(model => model.UserEmail, new { placeholder = email })
        <br /><br />
        @Html.DisplayName("Do you wish to be added to the email list for deals and promos?")<br />
        @Html.CheckBoxFor(model => model.UserEmailUpdates)
        <br /><br />
        @Html.DisplayName("Password:")<br />
        @Html.PasswordFor(model => model.Password)
        <br /><br />
        @Html.DisplayName("Confirm Password")<br />
        @Html.PasswordFor(model => model.ConfirmPassword)
        <br /><br />
        <input type="submit" value="Update Me" />
    }
</div>



