
@model JustForYouPromotions.Models.RegisterViewModel

@{
    ViewBag.Title = "Index";
}

<h2>After Updating please click submit to Re-Submit your data.</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.DisplayName("User Name:")<br />
        @Html.TextBoxFor(model => model.UserAccessName)
        <br /><br />
        @Html.DisplayName("First Name:")<br />
        @Html.TextBoxFor(model => model.UserFirstName)
        <br /><br />
        @Html.DisplayName("Last Name:")<br />
        @Html.TextBoxFor(model => model.UserLastName)
        <br /><br />
        @Html.DisplayName("Email:")<br />
        @Html.TextBoxFor(model => model.UserEmail)
        <br /><br />
        @Html.DisplayName("Do you wish to be added to the email list for deals and promos?")<br />
        @Html.CheckBoxFor(model => model.UserEmailUpdates)
        <br /><br />
        @Html.DisplayName("Password:")<br />
        @Html.PasswordFor(model => model.Password)
        <br /><br />
        @Html.DisplayName("Confirm Password")<br />
        @Html.PasswordFor(model => model.ConfirmPassword)
        <br /><br />
        <input type="submit" value="Update Me" />
    }
</div>



