@model JustForYouPromotions.Models.ContactForm
@{
    ViewBag.Title = "Contact Form";
}

<br /><br />
<h3>Contact Just For You Promotions:</h3>
<br /><br />
<div>
    @using(Html.BeginForm())
    {
        @Html.DisplayName("Your Name:")<br />
        @Html.TextBoxFor(model => model.Name )
        <br /><br />
        @Html.DisplayName("Email Address:")<br />
        @Html.TextBoxFor(model => model.FromEmailAddress )
        <br /><br />
        @Html.DisplayName("Subject:")<br />
        @Html.TextBoxFor(model => model.EmailSubject )
        <br /><br />
        @Html.DisplayName("Message:")<br />
        @Html.TextAreaFor(model => model.EmailBody )
        <br /><br />
        <input type="submit" value="Send" />
    }
</div>
<br /><br /><br /><br />