
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrap">
        <div class="banner">
            <div class="HeaderLogoCont">
                <img class="HeaderLogo" src="~/Images/justForYouPromotionsPNG.png" />
            </div>

            <div class="HeaderWordsCont"><h1>Words Words Words</h1></div>
            <div class="daTabsBorder1"></div>
            <div class="daTabs">
                <ul><li id="homeTab">@Html.ActionLink("Home", "Index", "Home")</li></ul>
                <div class="daTabsBorder2"></div>
                <ul><li id="prodTab">@Html.ActionLink("Products", "Index", "Products")</li></ul>
                <div class="daTabsBorder3"></div>
                <ul><li id="contTab">@Html.ActionLink("Contact", "Index", "Contact")</li></ul>
            </div>
            <div class="daTabsBorder4"></div>
        </div>
        <div class="mainBody">
            <div class="sideBar">
                <div>
                    <br /><br />
                    @{ 
                        if (!JustForYouPromotions.Models.SessionHelper.IsMemberLoggedIn())
                        {
                            <h3>@Html.ActionLink("Click Me", "Index", "Login") to Sign In.</h3>
                            <br />
                            <span>@Html.ActionLink("Click Me", "Index", "Register")</span><span>  to register for email updates about new products!</span>
                            <br /><br /><br />
                        }
                        else
                        {
                            <h3>@Html.ActionLink("Log Out", "Index", "LogOut")</h3><br />
                            if (JustForYouPromotions.Models.SessionHelper.IsAdminSession())
                            {
                                <h3>@Html.ActionLink("Admin Page", "Index", "Admin")</h3><br /><br />
                            }
                        }
                    }
                    <h3>Announcements:</h3>
                    <br />
                    <p>Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here... Announcement text goes here...</p>
                </div>
            </div>

            <div class="content">
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            <p class="text-center">|  @Html.ActionLink("Home", "Index", "Home")  |  @Html.ActionLink("Products", "Index", "Products")  |  @Html.ActionLink("Contact", "Index", "Contact")  |  @{ if (JustForYouPromotions.Models.SessionHelper.IsMemberLoggedIn()) { @Html.ActionLink("Update User Info", "Index", "UsersPage") } }</p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
