<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrap">
        <div class="banner">
            <div class="HeaderLogoCont">
                <img class="HeaderLogo" src="~/Images/justForYouPromotionsPNG.png" />
            </div>

            <div class="HeaderWordsCont"><h1>Words Words Words</h1></div>
            <div class="daTabsBorder1"></div>
            <div class="daTabs">
                <ul><li id="homeTab">@Html.ActionLink("Home", "Index", "Home")</li></ul>
                <div class="daTabsBorder2"></div>
                <ul><li id="prodTab">@Html.ActionLink("Products", "Index", "Products")</li></ul>
                <div class="daTabsBorder3"></div>
                <ul><li id="contTab">@Html.ActionLink("Contact", "Index", "Contact")</li></ul>
            </div>
            <div class="daTabsBorder4"></div>
        </div>
        <div class="mainBody">
            <div class="sideBar">
                <div>
                    <h3>Left Side Bar here</h3>
                </div>
            </div>

            <div class="content">
                <div>@RenderBody()</div>
            </div>
        </div>
        <div class="footer">
            <p class="text-center">Just 4 You Promotions: @Html.ActionLink("Home", "Index", "Home") | @Html.ActionLink("Products", "Index", "Products") | @Html.ActionLink("Contact", "Index", "Contact")  </p>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
