@model JustForYouPromotions.Models.Announcement
@{
    ViewBag.Title = "Index";
}
<br /><br />
<div>
    @using (Html.BeginForm())
    {
        @Html.DisplayName("Announcement Name:")<br />
        @Html.TextBoxFor(model => model.AnnouncementName )
        <br /><br />
        @Html.DisplayName("Description:")<br />
        @Html.TextAreaFor(model => model.AnnouncementDescription);
        <br /><br />
        @Html.DisplayName("Expiration Date (format mm-dd-yyyy):")<br />
        @Html.TextBoxFor(model => model.AnnouncementExpireDate )
        <br /><br />
        @Html.DisplayName("Announcement Date (format mm-dd-yyyy):")<br />
        @Html.TextBoxFor(model => model.AnnouncementDate)
        <br /><br />
        <input type="submit" value="Add Me!" />
    }
</div>
<br /><br /><br /><br />